@model MusicWorld.Models.Artist.ArtistSearchViewModel

@{
    ViewData["Title"] = "Artists";
}

<h1 class="text-center">Artists</h1>
<hr/>

<div class="col-md-5 mx-auto">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form asp-action="Search" asp-controller="Artist" method="post">
                <div class="form-group">
                    @*<label asp-for="NameToSearch" class="control-label"></label>*@
                    <input asp-for="NameToSearch" class="form-control" />
                    <span asp-validation-for="NameToSearch" class="text-danger"></span>
                </div>

                <div class="d-flex">
                    <div class="align-self-center mx-auto">
                        <div class="form-group col-md-1">
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Photo)*@
            </th>
            <th>
                <a>Name</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Artists)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Photo)*@
                    @*<img src="@item.Photo" alt="Photo" />*@
                    <img src="@item.Photo" alt="Photo" class="img-thumbnail w-100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-controller="Album" asp-action="AlbumsFromArtist" asp-route-id="@item.Id">View albums</a>
                </td>
            </tr>
        }
    </tbody>
</table>
