@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<ul class="nav h4 justify-content-center mb-3">
    <li class="nav-item">
        <a href="/Home/Index" class="nav-link"><span>Home</span></a>
    </li>
    <a>|</a>
    <li class="nav-item">
        <a href="/Identity/Account/Login" class="nav-link disabled"><span>Login</span></a>
    </li>
    <a>|</a>
    <li class="nav-item">
        <a href="/Identity/Account/Register" class="nav-link"><span>Register</span></a>
    </li>
</ul>

<div class="row">
    <div class="col-md-4 mx-auto">
        <section class="border border-dark px-5 py-3">
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-dark mx-auto">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
