@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

    <ul class="nav h4 justify-content-center mb-3">
        <li class="nav-item">
            <a href="/Home/Index" class="nav-link"><span>Home</span></a>
        </li>
        @if (!User.Identity.IsAuthenticated)
        {
            <a>|</a>
            <li class="nav-item">
                <a href="/Identity/Account/Login" class="nav-link"><span>Login</span></a>
            </li>
        }
        <a>|</a>
        <li class="nav-item">
            <a href="/Identity/Account/Register" class="nav-link disabled"><span>Register</span></a>
        </li>
    </ul>

<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="border border-dark px-5 py-3">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="form-group">
                            <label asp-for="Input.Username"></label>
                            <input asp-for="Input.Username" class="form-control" />
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.FirstName"></label>
                            <input asp-for="Input.FirstName" class="form-control" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mx-auto">
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-dark mx-auto">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
